<div id="dashboard-wrap" class="clearfix" ng-controller="tabsController as tab">
    <nav>

        <!-- User logged into WMP -->
        <a href ng-click="tab.setTab(5)">
            <div class="user-logged">
                <div class="user-img">
                    <i class="fa fa-user"></i>
                </div>
                <h1>Username</h1>
            </div>
        </a>

        <!-- Navigation starts -->
        <ul>

            <li>
                <a href ng-click="tab.setTab(1)" ng-class="{active: tab.isSelected(1)}">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>

            <li>
                <a href ng-click="tab.setTab(2)" ng-class="{active: tab.isSelected(2)}">
                    <i class="fa fa-cutlery"></i>
                    Add Meal
                </a>   
            </li>

            <li>
                <a href ng-click="tab.setTab(3)" ng-class="{active: tab.isSelected(3)}">
                    <i class="fa fa-calendar"></i>
                    Weekly Planner
                </a>   
            </li>

            <li>
                <a href ng-click="tab.setTab(4)" ng-class="{active: tab.isSelected(4)}">
                    <i class="fa fa-list-ol"></i>
                    Shopping List
                </a>   
            </li>

            <li>
                <a ui-sref="home">
                    <i class="fa fa-unlock-alt"></i>
                    Log out
                </a>   
            </li>

        </ul>
    </nav>

    <div id="content-wrap">
        <div class="borders-top">
            <div class="headerline green"></div>
            <div class="headerline dark"></div>
        </div>

        <!-- Dashboard/Home -->
        <div class="dashboard" ng-show="tab.isSelected(1)">
          <h1>Dashboard</h1>
          <div class="inner-wrap">
            <div class="dashboard-widget">
                <h2>Todays Meal</h2>
            </div>
            <div class="dashboard-widget">
                <h2>Latest meal added</h2>
            </div>
          </div>
        </div>
        
        <!-- Add Meal -->
        <div class="add-meal" ng-show="tab.isSelected(2)">
            <h1>Add Meal</h1>
            <div class="inner-wrap">
              
            </div>
        </div>
        
        <!-- Weekly Plan -->
        <div class="weekly-plan" ng-show="tab.isSelected(3)">
            <h1>Weekly Planner</h1>
            <div class="inner-wrap">
              
            </div>
        </div>

        <!-- Shopping List -->
        <div class="shopping" ng-show="tab.isSelected(4)">
            <h1>Shopping List</h1>
            <div class="inner-wrap">
              
            </div>
        </div>

        <!-- Shopping List -->
        <div class="user-profile" ng-show="tab.isSelected(5)">
            <h1>User Profile</h1>
            <div class="inner-wrap">
                <div id="profile-img">
                </div>
                <div id="profile-desc">
                </div>
            </div>
        </div>

    </div>
</div>
