<logoheader></logoheader>

<div id="my-detailwrap">
    <form action="#detail-answer" class="form clearfix" id="contact-form" method="post" autocomplete="off" novalidate>

        <!-- email input -->
        <fieldset>
        <label for="email"><i class="fa fa-at"></i></label>
        <input type="text" name="email" id="username" placeholder="Email" />
        </fieldset>

        <!-- submit email -->
        <input type="submit" value="Retrieve password" id="submit"/>
    </form>
</div>

<div id="detail-answer"></div>