<header>
    <div class="headerline green"></div>
    <div class="headerline dark"></div>
    <h1>WMP</h1>
    <h2>Weekly Meal Planner</h2>
</header>

<div id="register">
    <div id="register-table" class="clearfix">
        <h1>Register here</h1>

        <form action="#answer-register" class="form clearfix" id="register-form" method="post" autocomplete="off" novalidate>

        <!-- Username input -->
        <fieldset>
        <label for="username">Username <span>*</span></label>
        <br />
        <input type="text" name="username" id="username" ng-model="user" />
        </fieldset>

        
        <!-- Password input -->
        <fieldset>
        <label for="password">Password <span>*</span></label>
        <br />
        <input type="password" name="password" id="password" />
        </fieldset>


        <!-- Password validate input -->
        <fieldset>
        <label for="password">Repeat password <span>*</span></label>
        <br />
        <input type="password" name="password" id="password-vali" />
        </fieldset>

        
         <!-- Email input -->
        <fieldset>
        <label for="email">Email <span>*</span></label>
        <br />
        <input type="text" name="email" id="password-vali" ng-model="email" />
        </fieldset>


        <!-- Meal input -->
        <fieldset>
        <label for="meal">Favorite Meal</label>
        <br />
        <input type="text" name="meal" id="password-two" ng-model="favoriteMeal" />
        </fieldset>


        <!-- Description area -->
        <label for="describe">Describe yourself</label>
        <br />
        <textarea class="describe" name="text" ng-model="describe"></textarea>


        <input type="submit" value="Register" id="register"/>
    </form>
    <div id="answer-register"></div>
    </div>


    <div id="insta-user" class="clearfix">
        <h1>Profile view</h1>
        <div id="user-shown">
            <div id="profilepic"><i class="fa fa-user"></i></div>
            <h1>{{ user }}</h1>
            <h3>{{ email }}</h3>
            <h2>{{ favoriteMeal }}</h2>
            <p>{{ describe }}</p>
        </div>
    </div>
</div>
