header {
    width: 100%;
    height: 200px;

    h1 {
        font-size: 5em;
        line-height: 80px;
        text-align: center;
        color: #34495E;
        padding-top:30px;
        font-weight:900;
    }

    h2 {
        font-size: 1.5em;
        text-align: center;
        color:#BDC3C7;
    }
}

.headerline {
    width:50%;
    float:left;
    height:5px;
}

.green {
    background: $emerald;
}

.dark {
    background: $midnight-blue;
}