<!--- Dashboard: Home -->
<div class="dashboard">
  <h1>Dashboard</h1>
  <div class="inner-wrap">

    <div class="dashboard-widget">
        <h2>Todays Meal</h2>
        <div class="today-meal">
            <img alt="" src="http://placehold.it/600x400/0eafff/ffffff.png" />
            <h3>Pizza</h3>
        </div>
    </div>

    <div class="dashboard-widget">
        <h2>Latest meal added</h2>
        <div class="latest-meal">
            <img alt="" src="http://placehold.it/600x400/0eafff/ffffff.png" />
            <h3>Lasagne</h3>
        </div>                
    </div>
  </div>
</div>