<header>
    <div class="headerline green"></div>
    <div class="headerline dark"></div>
    <h1>WMP</h1>
    <h2>Weekly Meal Planner</h2>
</header>

<section id="login">
    <form action="#answer" class="form clearfix" id="contact-form" method="post" autocomplete="off" novalidate>

        <fieldset>
        <label for="name"><i class="fa fa-user"></i></label>
        <input type="text" name="username" id="username" placeholder="Username" />
        </fieldset>
        
        <fieldset>
        <label for="subject"><i class="fa fa-lock"></i></label>
        <input type="password" name="password" id="password" placeholder="Password" />
        </fieldset>

        <input type="submit" value="Log in" id="submit"/>
            <div id="second-choice" class="clearfix">
                <div class="register"><a ui-sref="my-details">Forgot details?</a></div>
                <div class="register f-right"><a ui-sref="register">Register</a></div>
            </div>
    </form>
    <div id="answer"></div>
</section>