<!--- Dashboard: Update Profile -->
<div class="user-profile" ng-show="tab.isSelected(5)"> 
  <h1>User Profile</h1>
    <div class="inner-wrap">

        <div class="insert-img">
            <i class="fa fa-user"></i>
        </div>
        
        <div class="profile-table profile-table-update">
            <form action="" id="update-profile" method="post" autocomplete="off" novalidate>

            <!-- Username input -->
            <fieldset>
                <label for="username">Username</label>
                <br />
                <input type="text" name="username" id="username" value="Username" />

            
            <!-- Password input -->
                <label for="password">Password</label>
                <br />
                <input type="password" name="password" id="password" />


            <!-- Password validate input -->
                <label for="password">Repeat password</label>
                <br />
                <input type="password" name="password" id="password-vali" />

            
             <!-- Email input -->
                <label for="email">Email</label>
                <br />
                <input type="text" name="email" value="Emailadress@gmail.com" />


            <!-- Meal input -->
                <label for="meal">Favorite Meal</label>
                <br />
                <input type="text" name="meal" value="Pizza" />
            </fieldset>


            <!-- Description area -->
            <label for="describe">Describe yourself</label>
            <br />
            <textarea class="describe" name="text" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore nisi quis, excepturi magnam aut quia atque odio recusandae laborum id ullam eos temporibus sit. Culpa eos ipsum, rerum molestias!"></textarea>


            <input type="submit" value="Update" class="btn"/>
        </form>
    </div>
</div>